Percent Sign in URL Lead to 400 Bad Request

### Issue Description
If URL contains % echo will return 400 Bad Request and such error cannot be caught. 
E.G. 
http://localhost:1323/products/a%c

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour
Handler could get the request and deal with the params with '%' instead of asking user to call with URL escape like http://localhost:1323/products/a%25c

### Actual behaviour
Error was thrown by echo and Recover/Handler could do nothing since the request won't reach them.

### Steps to reproduce
Run below code and access with http://localhost:1323/products/a%c

### Working code to debug

```go
package main

import (
	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
	"net/http"
)

func main() {
	e := echo.New()
	e.Use(middleware.Recover())
	e.GET("/products/:id", products)
	e.Logger.Fatal(e.Start(":1323"))
}

func products(c echo.Context) error {
	return c.String(http.StatusOK, "Products!")
}

```

### Version/commit
github.com/labstack/echo/v4 v4.1.16

According to the [RFC 3986 Section 2.4](https://tools.ietf.org/html/rfc3986#section-2.4) the percent character '%' must be escaped for the URL because of it's use as encoding character:

```
   Because the percent ("%") character serves as the indicator for
   percent-encoded octets, it must be percent-encoded as "%25" for that
   octet to be used as data within a URI.  Implementations must not
   percent-encode or decode the same string more than once, as decoding
   an already decoded string might lead to misinterpreting a percent
   data octet as the beginning of a percent-encoding, or vice versa in
   the case of percent-encoding an already percent-encoded string.
```

So we have an invalid URL here, that will not enter routing. 
You would expect to be able to handle that invalid request in a [custom echo error handler](https://echo.labstack.com/guide/error-handling)?

I do not see a real usecase currently, could you provide some real world example for that?

@lammel Thanks for your reply. 
I just want to know is that possible to capture such error in handler and return with detailed error message/status code to tell the user what's the root cause and how to avoid that.

No currently it is not possible to capture a malformed URL.
A 400 Bad Request will be returned without executing the ErrorHandler.

PR may be excepted though, if you want to look into that.

Thanks @lammel.