Echo Does Not Correctly Handle URLs with a `RawPath`

### Issue Description

**Abstract:** [`func (r *Router) Find(method, path string, c Context)` (in file `router.go`)](https://github.com/labstack/echo/blob/7d41537e70ce8e3e25c2e8199c798c7cfe3d4299/router.go#L376) is sometimes given a *raw* path instead of a unescaped path, but because it has no way to tell between the two situations it does not behave properly if given a raw path.

Argument `path` of `func (r *Router) Find` is provided by `func GetPath(r *http.Request) string` (in file `echo.go`)  which returns the `Path` of the request's URL, unless the URL structure has a `RawPath` in which case it returns the `RawPath`. A URL structure from package [`net/url`](https://pkg.go.dev/net/url) has a `RawPath` if `escape(unescape(RawPath)) != RawPath` (where `escape` applies URL percent-encoding). See [`net/url` source code](https://cs.opensource.google/go/go/+/refs/tags/go1.17:src/net/url/url.go;drc=refs%2Ftags%2Fgo1.17;l=676). The rationale of this extra `RawPath` field in `net/url` package is to handle the case of URLs containing `%2F`, which `unescape` will transform into character `/` but which should not be used as a path separator by the server.

What a server *should* do when it receives an URL which has a `RawPath` is:

1. use the `RawPath` to split the path into segments based on the ”true” `/` characters (the ones not coming from unescaping `%2F`)
2. then, unescape every segment

Because Echo's `func (r *Router) Find` does not when the path it received is a RawPath, it fails to do step (2), and this causes bugs.

### Checklist

- [x] Dependencies installed
- [x] No typos
- [x] Searched existing issues and docs

### Expected behaviour vs. Actual behaviour (+ steps to reproduce)

If a JavaScript application sends a request with a path containing and single quote and a space, such as `fetch("/foo/bar/what's up")`, Echo will return a `HTTP 404 Not Found` even if there was a handler for `"/foo/bar/what's up"` or `"/foo/bar/:msg"`. The reasons are that:

- JavaScript does not escape the single quote, in conformance with [RFC 2396 §2.3](https://datatracker.ietf.org/doc/html/rfc2396#section-2.3) (note that this RFC has now been obsoleted by [RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986) of which [paragraph 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2) seems to say single quotes should be escaped, but, well, JS doesn't do it).
- Go's `net/url` *does* escape the single quote (see https://github.com/golang/go/issues/19917 and https://github.com/golang/go/commit/8a330454)
- as a result, `escape(unescape(RawPath))` ends with `what%27s%20up` while `RawPath` ends with `what's%20up`, so the two don't match and URL's RawPath is set.
- `func GetPath(r *http.Request) string` will then pass the raw URL to `Find`, ending with `what's%20up`, and since `Find` never does any unescaping, weird behaviors will appear: a handler for `"/foo/bar/what's up"` will not match, or path parameter `msg` will be set to `what's%20up` instead of `what's up`.

Of course, this situation can be fixed easily by modifying the JS application to encode the single quote. But strictly speaking it's not the fault of the JS app: it is legal not to escape the single quote, and the server (that is, Echo) should work with unescaped path fragments even if it had to do path splitting on a raw path.

### Suggested Solutions

One way would be to change `Find`'s argument `path string` to `pathSegments []string`, where the caller of `Find` would be responsible for splitting the path into segments. This way if the URL has a `RawPath` the caller can use it to do the splitting, then unescape all parts before sending them to `Find`.

The problem is that `Find` currently processes `path` byte-by-byte, and it would probably require a complete rewrite of `Find` (and potentially other parts of Echo, such as the logic adding a handler to a router) to operate on path segments.

I don't see any solution that would correctly handle URLs with a `RawPath` *and* would not require a big rewrite. A few mitigations I can suggest:

- add an option to skip `func GetPath(r *http.Request) string` and always use the URL's `Path` instead

- Give `Find` a way to tell when it got a raw path (`raw bool` argument?) and then replacing `paramValues[paramIndex] = search[:i]` with:

  ```go
  if raw {
      paramValues[paramIndex] = PathUnescape(search[:i])
  } else {
      paramValues[paramIndex] = search[:i]
  }
  ```

  This will at least fix the situation for path parameters. It will still break if path segments contains percent-encoded characters.

- add a warning about this known issue somewhere visible

### Version/commit

7f502b1


Hi, I'm facing this issue in my application.
I added a new endpoint and its path may contains characters that need escaping.
I found that `echo.Context.Param()` behaves inconsistently, that is, sometimes returns unescaped value but sometimes returns escaped value. My application cannot know whether the value is encoded or decoded and have no way to handle parameters via path properly.
I hope this will be fixed.

Proposals:
* Using `func (*URL) EscapedPath` looks good for the consistent behavior: https://pkg.go.dev/net/url#URL.EscapedPath
* If we need consider compatibility...
    * How about introduce new methods `echo.Context.UnescapedParam()` and `echo.Context.EscapedParam()`?
    * How about adding a configuration to specify the behavior?:
        * Compatible: same as current. `echo.Context.Param()` sometimes returns unescaped values, sometimes escaped values.
        * Unescape: `echo.Context.Param()` always returns unescaped values.
        * Escape: `echo.Context.Param()` always returns escaped values.


Hi @ikedam 

> How about adding a configuration to specify the behavior?:

This will be introduced in `v5`. If you look for `RouterConfig.unescapePathParamValues`  in https://github.com/labstack/echo/discussions/2000 you will see.

> Using func (*URL) EscapedPath looks good for the consistent behavior: https://pkg.go.dev/net/url#URL.EscapedPath

[This](https://github.com/labstack/echo/blob/b437ee3879f21e973be85ff827754343a34fbe35/echo.go#L932) is where path is decided for routing purposes. Note `URL.RawPath` is EscapedPath.
And [here](https://github.com/labstack/echo/blob/b437ee3879f21e973be85ff827754343a34fbe35/router.go#L389) is that same path value used as basis where path param values are cut out.

Now in serving static files with `e.Static()` path is [unescaped here](https://github.com/labstack/echo/blob/b437ee3879f21e973be85ff827754343a34fbe35/echo.go#L502) we cause of file names. Same happens in `Static` middleware [here](https://github.com/labstack/echo/blob/b437ee3879f21e973be85ff827754343a34fbe35/middleware/static.go#L174)


It would be very helpful if you could paste short example here with `curl` command line example (including problematic url)  and describe if problem arises in some of your custom middleware or in handler method.


Thanks! I watch that ticket and wait for `v5`.

So `Param()` is generally expected to return unescaped values.
Using `EscapedPath()` would require additional `url.PathUnescape()` when cutting out path param values, for example here: https://github.com/labstack/echo/blob/v4.6.1/router.go#L510 .

My case is illustrated here: https://go.dev/play/p/Or-RPfI6me5
I check whether `echo.Context.Request().URL.RawPath` is set to decide unescape is required as a workaround, and it works correct as far as I tested.


Thanks for the suggestion, and apologies for the long silence. We're closing older requests that haven't gathered traction to keep the tracker focused on active work. If this is still valuable on `v5`, please comment or open a fresh issue scoped to the current API — 👍 reactions help us gauge demand. 🙏