Feature request: Add a method to echo.Context for CBOR

CBOR (RFC 7049) is a binary data format inspired by JSON and MessagePack. CBOR is used in IETF Internet Standards such as COSE (RFC 8152) and CWT (RFC 8392 CBOR Web Token). 

Please add a method to echo.Context for encoding and sending go struct as response by using this module https://github.com/fxamacker/cbor