Redirects

### Description
1. `website/content/middleware/trailing-slash.md` contains a typo `308` should be `301`. 
(`301` means "Moved Permanently", while `308` means "Permanent Redirect".)
2. `308 Permanent Redirect` (`http.StatusPermanentRedirect`) is not supported.

### Checklist

- [x] Dependencies installed
- [x] No typos (where?)
- [x] Searched existing issues and docs

### Expected behaviour
1. Documentation does not contain typos.
2. Using `http.StatusPermanentRedirect` works.

### Actual behaviour
1. Documentation does contain typo.
2. Usage of `http.StatusPermanentRedirect` yield `Internal Server Error`.

### Steps to reproduce
1. Compare documentation to [RFC723 Section 6.4.2](https://tools.ietf.org/html/rfc7231#section-6.4.2) and [RFC7538](https://tools.ietf.org/html/rfc7538).

### Working code to debug
2. 
```go
package main

import (
	"net/http"
	"github.com/labstack/echo"
	"github.com/labstack/echo/middleware"
)

func main() {
	e := echo.New()
	e.Use(middleware.AddTrailingSlashWithConfig(middleware.TrailingSlashConfig{
		  RedirectCode: http.StatusPermanentRedirect,
	  }))
	e.GET("/foo", func(c echo.Context) error {
		return c.String(http.StatusOK, "Hello, World!")
	})
	e.Logger.Fatal(e.Start(":1323"))
}
```
When running, test with:
```curl
$ curl -v localhost:1323/foo
* Hostname was NOT found in DNS cache
*   Trying ::1...
* Connected to localhost (::1) port 1323 (#0)
> GET /foo HTTP/1.1
> User-Agent: curl/7.38.0
> Host: localhost:1323
> Accept: */*
> 
< HTTP/1.1 500 Internal Server Error
< Content-Type: application/json; charset=UTF-8
< Date: Wed, 01 Feb 2017 10:33:18 GMT
< Content-Length: 35
< 
* Connection #0 to host localhost left intact
{"message":"Internal Server Error"}
```


### Version/commit
Found in branch:
* `v2`
  1. `website/content/middleware/trailing-slash.md`
  2. [context.go line 460](https://github.com/labstack/echo/blob/v2/context.go#L460)
* `master`
  1. `website/content/middleware/trailing-slash.md`
  2. [context.go line 517](https://github.com/labstack/echo/blob/master/context.go#L517)

Thank you for your time.